@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .font-poppins{
        font-family: 'Poppins', sans-serif;
    }
    .rounded-right{
        border-bottom-right-radius: 150px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-left-radius: 25px;
        
    }
    .customleft1{
        left: 87.5%;
    }
}